{
  "openapi": "3.1.0",
  "info": {
    "title": "Rent on Cent API",
    "version": "1.0.0",
    "description": "Peer-to-peer bike, scooty, and EV rental platform API for Vrindavan, Mathura, Govardhan, and Yamuna Expressway.",
    "contact": {
      "name": "Rent on Cent Support",
      "url": "https://rentoncent.bond",
      "email": "support@rentoncent.bond"
    }
  },
  "servers": [
    {
      "url": "https://rentoncent.bond",
      "description": "Production Server"
    }
  ],
  "x-service-info": {
    "categories": ["transportation", "vehicle-rental", "utilities"],
    "provider": "Rent on Cent"
  },
  "paths": {
    "/api/vehicles": {
      "get": {
        "summary": "List available rental vehicles",
        "description": "Fetches verified scooters, bikes, and EVs available for rent in Vrindavan and Mathura.",
        "operationId": "listVehicles",
        "x-payment-info": {
          "intent": "charge",
          "method": "stripe",
          "amount": 0,
          "currency": "INR",
          "description": "Vehicle fleet search and rental availability query"
        },
        "responses": {
          "200": {
            "description": "Array of vehicle listings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "model": { "type": "string", "example": "Honda Activa 6G" },
                      "category": { "type": "string", "example": "scooter" },
                      "pricePerDay": { "type": "number", "example": 299 },
                      "available": { "type": "boolean", "example": true }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/bookings": {
      "post": {
        "summary": "Create booking reservation",
        "description": "Submits a rental booking request for a vehicle with doorstep delivery in Vrindavan.",
        "operationId": "createBooking",
        "x-payment-info": {
          "intent": "charge",
          "method": "stripe",
          "amount": 299,
          "currency": "INR",
          "description": "Two-wheeler rental booking fee starting at ₹299/day with ₹0 cash deposit and 2 free helmets."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["vehicleId", "startDate", "endDate", "customerName", "phone"],
                "properties": {
                  "vehicleId": { "type": "string" },
                  "startDate": { "type": "string", "format": "date" },
                  "endDate": { "type": "string", "format": "date" },
                  "customerName": { "type": "string" },
                  "phone": { "type": "string" },
                  "deliveryHub": { "type": "string", "example": "Prem Mandir, Raman Reti" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking confirmation and reservation ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookingId": { "type": "string" },
                    "status": { "type": "string", "example": "confirmed" },
                    "totalAmount": { "type": "number", "example": 299 }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/locations": {
      "get": {
        "summary": "List delivery hubs and micro-locations",
        "description": "Returns verified pickup and doorstep delivery points in Mathura and Vrindavan.",
        "operationId": "getLocations",
        "responses": {
          "200": {
            "description": "Array of delivery hubs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string", "example": "Prem Mandir Hub" },
                      "address": { "type": "string" },
                      "latitude": { "type": "number" },
                      "longitude": { "type": "number" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
